@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/CenturyGothic.ttf);
}
@font-face {
    font-family: CenturyGothicBold;
    src: url(../fonts/CenturyGothic-Bold.ttf);
}
@font-face {
    font-family: CenturyGothicBoldItalic;
    src: url(../fonts/CenturyGothic-BoldItalic.ttf);
}
@font-face {
    font-family: CenturyGothicItalic;
    src: url(../fonts/CenturyGothic-Italic.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-color: #1d1d1b;
    font-family: CenturyGothic;
}
a {
    text-decoration: none;
    color: #fff;
}
.head-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    background-color: #1a1a1a;
}
.head-logo a img {
    height: 36px;
}
.head-navigation {

}
.head-navigation ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: #21211f;
    height: 55px;
    padding: 0;
    margin: 0;
}
.head-navigation ul li {
    margin: 0 20px;
}
.head-navigation ul li a {
    color: #c6c6c6;
}
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
}
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider .item {
    opacity: 1;
    animation-name: fade;
    animation-duration: 3s;
    transition: 300ms;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
    }
}
footer {
    background-color: #21211f;
    height: 140px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #8b8c8d;
}
.social-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
/*work gallery*/
.work-gallery {
    padding: 40px 0;
}
.work-gallery-list {

}
.work-gallery-list-item img{
    max-width: 100%;
}
.work-gallery-list-item-title {
    color: #c6c6c6;
    text-align: center;
    padding: 30px;
}